<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta http-equiv="Content-Type" content="text/html" charset="UTF-8">
  <title>hello</title>
</head>
<body>
<div class ="container">
  <form action="/members/new" method="post">
    <div>
      <label>이름</label>
      <input type="text" id="name" name="name" placeholder="이름을 입력하세요" />
      <input type="text" id="name" name="userId" placeholder="아이디을 입력하세요" />
      <input type="text" id="name" name="email" placeholder="이메일을 입력하세요" />
      <input type="text" id="name" name="createdDate" placeholder="날을 입력하세요" />
      <input type="text" id="name" name="mbti" placeholder="mbti을 입력하세요" />
      <input type="text" id="name" name="gender" placeholder="성별을 입력하세요" />
      <button type="submit">등록</button>
    </div>
  </form>


</div>

</body>
</html>