<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta http-equiv="Content-Type" content="text/html" charset="UTF-8">
  <title>hello</title>
</head>
<body>
<div class ="container">
  <form action="/recommend/new" method="post">
    <div>
      <label>이름</label>
      <input type="text" id="cookedCategory" name="cookedCategory" placeholder="이름을 cookedCategory" />
      <input type="text" id="selectedKcal" name="selectedKcal" placeholder="이름을 selectedKcal" />
      <input type="text" id="selectedCar" name="selectedCar" placeholder="이름을 selectedCar" />
      <input type="text" id="selectedProtein" name="selectedProtein" placeholder="이름을 selectedProtein" />
      <input type="text" id="selectedFat" name="selectedFat" placeholder="이름을 selectedFat" />

      <button type="submit">등록</button>
    </div>
  </form>


</div>

</body>
</html>